@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-core: #0b58b4;
  --color-categories: #1b58b6;
  --color-noactive: #6da2dd;
  --color-black: #000000;
  --weight: 500;
  --ya-border: #fc0;
}

html {
  /* background-color: #fff !important; */
}

#root {
  display: block;
  width: 71.8rem;
  margin: 0 auto;
}

h2 {
  color: var(--color-core);
  font-weight: var(--weight);
}

div>div:nth-child(2n) h2,
div>div:nth-child(3n) h2 {
  color: var(--color-noactive);
}

.top-news .news-title a {
  color: var(--color-black);
}
.top-course ul li {
  display: inline-flex;
  justify-content: flex-start;

}

.top-course ul li:last-of-type div:first-of-type {
  background: no-repeat url("./data/course.svg");
  background-position: 0 2px;

}

/* Yandex is sercher */
.ya-search .HeaderDesktopForm {
  border: 3px solid var(--ya-border);
  border-radius: 12px;
  height: 44px;
}

.ya-categories h2 {
  color: var(--color-categories);
  cursor: pointer;
}

.yandex span:first-of-type {
  color: var(--color-black);
}

/* footer */
footer h2,
footer div:nth-child(2n) h2,
footer div:nth-child(3n) h2 {
  color: var(--color-categories);
}