@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-core: #0b58b4;
  --color-noactive: #6da2dd;
  --color-black: #000000;
  --weight: 500;
}

html {
  /* background-color: #fff !important; */
}

#root {
  display: block;
  width: 71.8rem;
  margin: 0 auto;
}

h2 {
  color: var(--color-core);
  font-weight: var(--weight);
}

div>div:nth-child(2n) h2,
div>div:nth-child(3n) h2 {
  color: var(--color-noactive);
}

.top-news .news-title a {
  color: var(--color-black);
}